<p>Welcome to Fietsboek!</p>
<p>
  Here you can &hellip;
  <ul>
    <li>Upload cycling and hiking tours that you recorded with a GPS device</li>
    <li>Share those tours with other users, or send links to the tours to friends</li>
    <li>Comment on tours that other people have uploaded</li>
    <li>Find tours that you'd like to do as well</li>
    <li>Get a summary of how far you've traveled per month/year/in total</li>
  </ul>
</p>
