{% extends "layout.jinja2" %}
{% import "util.jinja2" as util with context %}
{% block content %}
<div class="container">
  <h1>{{ _("page.password_reset.title") }}</h1>
  <form method="POST" class="needs-validation" novalidate>
    <div class="row mb-3">
      <div class="col-lg-5">
        <div class="form-floating">
          <input type="password" class="form-control" id="inputPassword" name="password" onchange="checkPasswordValidity('#inputPassword', '#repeatPassword')" placeholder="x">
          <label for="inputPassword" class="col-form-label">{{ _("page.password_reset.password") }}</label>
          <div class="invalid-feedback">
              {{ _("page.password_reset.password_invalid") }}
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-5">
        <div class="form-floating">
          <input type="password" class="form-control" id="repeatPassword" name="repeat-password" onchange="checkPasswordValidity('#inputPassword', '#repeatPassword')" placeholder="x">
          <label for="repeatPassword" class="col-form-label">{{ _("page.password_reset.repeat_password") }}</label>
          <div class="invalid-feedback">
              {{ _("page.password_reset.password_mismatch") }}
          </div>
        </div>
      </div>
    </div>
    {{ util.hidden_csrf_input() }}
    <button type="submit" class="btn btn-primary">{{ _("page.password_reset.reset") }}</button>
  </form>
</diV>
{% endblock %}
